@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #140d0b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --color-bg: #140d0b;
  --color-titles: #fff;
  --color-subtitles: #d2bcb0;
  --color-primary: #55423d;
  --color-secondary: #140d0b;

}



@media (prefers-color-scheme: light) {
  :root {
    color: #111;
    background-color: #cbbbb9;
      --color-bg: #cbbbb9;
      --color-titles: #111;
      --color-secondary: #cbbbb9;
  }

}
